body {
	margin: 10px;
	width: 540px;
	height: 245px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px;
	font-family: 'HelveticaNeue', Helvetica;
	color: black;
	border-radius: 6px;
}
#front {
	background-color: white;
	width: 100%;
	height: 245px;
	border-radius: 6px;
}
#back {
	position: relative;
	display: none;
	color: white;
}

#error {
	display: none;
	position: absolute;
	font-size: 24px;
}

/* = Front
-------------------------------------------------------------- */
#update-settings-notice	{
	font-size: 21px;
	width: 250px;
	text-align:center;
	position: absolute;
	margin: 0 auto;
	top: 105px;
	left: 150px;
	font-weight: 200;
	font-family:'HelveticaNeue-light';
}
#forecast {
	background-color: white;
	border-radius: 6px;
	cursor:pointer;
	pointer-events: none;
}
#info {
	position: absolute;
	right:15px;
	bottom:15px;
	background-color:transparent;
	cursor: pointer;

}
#info::after {
	content:'i';
	color:#007bff;
	display: block;
	border: 1px solid #007bff;
	width: 13px;
	height: 13px;
	border-radius: 15px;
}

/* = Back
-------------------------------------------------------------- */
#backing {
	height: 100%;
	overflow: auto;
	padding: 15px;
	box-sizing: border-box;
	background-color: rgb(64, 64, 64);
	border-radius: 6px;
}
input[type="number"],
input[type="text"]{
	height: 65px;
	font-size: 36px;
	border: 0px;
	font-family: 'HelveticaNeue-light';
	box-shadow: 0px 0px 0px;
	outline: none;
	border-radius: 2px;
	border: 1px solid rgba(255,255,255,.1);
	color: white;
	background-color: transparent;
	padding-left: 5px;
}
#latitude {
	width: 49%;
	float: left;
	margin-right:15px;
}
#longitude {
	width: 48%;
	float: right;
}
#name {
	width: 100%;
	margin-top: 15px;
}

/*---= Units  */
#units-list	{
	float: left;
	font-size: 18px;
	margin-top: 15px;
}
#units-list span	{
	color: rgba(255,255,255,1);
	margin-right: 3px;
}
#units-list span.section-label	{
	margin-right: 25px;
	color: rgba(255,255,255,.5);
}
#units-list	input{
	margin-right: 20px;
}
#units-list	*	{
	float: left;
	display: inline-block;
}
button {
	border-style: none;
}
#done {
	position: absolute;
	right:5px;
	bottom:5px;
	font-size: 21px;
	font-family: 'HelveticaNeue-medium';
	background-color: transparent;
	color: #007bff;
	cursor: pointer;
}
a   {
	display: inline-block;
	text-decoration: none;
	position: relative;
	color: white;
	font-family: 'HelveticaNeue-light';
	font-size: 16px;
} 
#bottom-links	   {
	position: absolute;
	bottom: 15px;
	left 15px;
}
#powered-by {  
	margin-right: 15px;
}